[2013-04-17 06:16] cubensx opened #1 "test"
test

[2013-04-17 06:18] sunitmishra commented on #1
i have closed the test issue

[2013-04-17 06:18] cubensx commented on #1
retest

[2013-04-17 06:19] sunitmishra commented on #1
closed again

[2013-04-17 06:19] #1 closed, assigned to nobody

[2013-04-17 06:22] sunitmishra opened #2 "testing issue"
hehehehehe

[2013-04-17 06:23] cubensx commented on #2
done

[2013-04-17 06:28] sunitmishra commented on #2
assigned to cube again

[2013-04-17 06:50] #2 closed, assigned to cubensx

[2013-04-17 07:05] cubensx opened #3 "test issues with screenshot"
![image](https://f.cloud.github.com/assets/4178085/389959/15d2b1a8-a72d-11e2-9469-06088788675e.png)

[2013-04-26 04:11] #3 closed, assigned to Mamta123

[2013-04-26 04:13] Mamta123 opened #4 "Cancel freezed plan"
freezed plan shall be able to cancel before creating loading list, since user might freeze the plan wrongly by accident.

[2013-04-26 04:14] Mamta123 opened #5 "Plan->Open Plan->Machine allocation"
SnC for WP straight cut

[2013-04-26 04:15] Mamta123 opened #6 "464.Plan->Open Plan->S&C prod schedule summary"
cw length seq. issue

[2013-04-26 04:16] Mamta123 opened #7 "466.Transaction-->Order Detail-->BBS-> Decimal in Angle Value"
unable to key in decimal in angle value

[2013-04-26 04:18] Mamta123 opened #8 "477.Plan->Open Plan->cutting sequence"
Cutting sequence Header Summary, need to display all the using length and q'ty

[2013-04-26 05:21] Nisha123 commented on #8
Done.

[2013-04-26 10:33] Mamta123 opened #9 "479.Transaction->stock details"
batch no. update, first delete those virtual stock, and then add actual batch no. for those uploaded orders.

[2013-04-26 10:34] Mamta123 opened #10 "480.Plan->New Plan, CAB prefer dia for stirrup m/c"
Functionality to assign grade and dia to stirrup m/c

[2013-04-26 10:36] Mamta123 opened #11 "481.Reports->Plan reports"
Bar list per m/c for Welding m/c(GWC2800 and SST30)

[2013-04-26 10:38] Mamta123 opened #12 "482. Reports->Plan reports -> Tag Printout by Machine"
Tag printout by m/c

[2013-04-26 10:39] Mamta123 opened #13 "483. Order Cancle"
Order cancelling, how to deal with frozen plan

[2013-04-26 10:40] Mamta123 opened #14 "485 . Export to excel"
can't not export to excel

[2013-04-26 10:40] Mamta123 commented on #14
Only Lucas PC has problem..

[2013-04-26 10:41] Mamta123 opened #15 "486. Transaction->Order detail->BBS"
if a shape has one angel more 90 degree,the prod length should not -2d but +2d for this more than 90 degree angel.for shape 2050 ,if the inv. length is 2000,the 90 degree should -2d,and the 135 degree should +2d,so the prod. length should be still 2000mm

[2013-04-26 10:42] Mamta123 opened #16 "487. New Plan --Cutting Seq report-Offcut allocation issue"
in cutting seq. Cube should first assign the offcut for stock use,then the rebar.And when we choose the stock,if the stock is not enough,it let us pass,and in cutting seq. report,it will show the stock we use only to cut.

[2013-04-26 10:43] Mamta123 opened #17 "488. Shearline Bin ID"
shearline has not bin code of 6 and 12.

[2013-04-26 10:44] Mamta123 opened #18 "489. Reports->Plan reports-Plan Detail Excel upload"
report requirement for shearline sequence based on descending prod length by run ID/grade and dia/order id, see attachment 16

[2013-04-26 10:45] Mamta123 opened #19 "490 .Transaction->loading list"
weight variance should be divided by invoice weight

[2013-04-26 10:46] Mamta123 opened #20 "491.Transaction->order details"
consolidate bartype in grade columnn, since for grade 550 unable to know which bartype is used directly.

[2013-04-26 10:47] Mamta123 opened #21 "492. Transaction->loading list(WB ticket number and Delivery Date)"
weight ticket no. - need 2nd time input to enable

[2013-04-26 10:47] Mamta123 opened #22 "493.Transaction->order details"
the calculation of hook lenght of stirrup is wrong now, see further email.

[2013-04-26 11:00] Vijaykr123 commented on #19
done

[2013-04-26 11:00] #19 closed, assigned to Vijaykr123

[2013-04-27 06:06] Nisha123 commented on #9
Done & verify by Edward

[2013-04-29 08:57] Mamta123 opened #23 "352. MIS Reports"
Refer to the attachment 10 for the required MIS reports in NSX

[2013-04-29 09:57] Nisha123 commented on #11
Done.

[2013-04-29 09:58] aprajita123 commented on #23
Three MIS report completed and one Pending.

[2013-05-02 09:51] Mamta123 opened #24 "WP Batch file Upload"
Upload Function to upload Upstream Heat & Batch Detail from Excel File provided.

Batch no.   Heat no.    Dia Bartype and Grade
Q10000-13   3303097 Φ8 HPB235
Q10001-13   3303098 Φ8 HPB235
Q10002-13   3303099 Φ8 HPB235
Q10003-13   3303100 Φ8 HPB235

Please find the excel in our shared Folder
CuBe_NSX\WP

[2013-05-02 10:44] Mamta123 opened #25 "Changes in MIS Reports for CAB - partial tag recording"
for MIS report by m/c by date, we want to record down the detailed production everyday.
[3:52:06 PM] Edward Hong: that means example one tag have 800 pcs, but within today only 700 pcs have been produced
[3:52:46 PM] Edward Hong: so 700 pcs produce 2/5, and 100 pcs 3/5
[3:53:19 PM] Edward Hong: and accordingly, production will make the recording and uploading for the 700 pcs
[3:54:59 PM] Edward Ho

[2013-05-03 07:33] Mamta123 opened #26 "Change in DO Format"
[12:26:28 PM] Edward Hong: we have some change for DO format
[12:31:27 PM] Edward Hong: not sure if you have seen upstream SO using the carbon paper, right now we're required to provide customer with DO from cube using same carbon paper
[12:31:41 PM] Edward Hong: so need to make some change of the DO format
[12:38:21 PM] Edward Hong: 1. remove company logo and info
2. change 合同编号 to 销售单号（Upstream

[2013-05-05 07:13] edward123 commented on #25
Mamta, what i meant for partial tag recording was that firstly cube should be able to add this function when Production Recording; 2nd for MIS report(Production history by m/c by day), cube should able to generate, example, for one single tag total 800 pcs, 700 pcs was produced 2/5 and 100 was produced 3/5, then Cube should show the report accordingly.

[2013-05-05 10:03] edward123 opened #27 "Bar List per m/c - every m/c should have a total production weight"
Right now, only the overall run ID have a total production weight. But it's inconvenient for production to prepare the raw mtl since they're unable to read the total production weight by each m/c direclty. So pls add the total production weight by each m/c in the header.

[2013-05-05 10:17] edward123 opened #28 "SNC assignment for CAB - need to add the function of assigning to manual bender after SNC straight cut"
In our last order, we had some bending shapes of HPB235 dia 6.5/8/10. At that time, stirrup benders were busy proceeding other grade&dia. So we decided to make full use of manual benders after straight cut them by SNC. Currently SNC is only assigned to poly procedure. Thus, need to add the same function as shearline for small diameters.

[2013-05-06 04:02] Mamta123 commented on #25
Edward,
1. Partial tag recording functionality is already there in CuBe.
2. MIS report we'll do accordingly.it means it should be based on Recorded date.right?

[2013-05-06 09:54] edward123 commented on #25
Mamta,
1. really? Where is the funcationality?
2. yes, based on recording date. So data of MIS report comes from Prod Recording, right?

[2013-05-06 10:04] edward123 opened #29 "360. Order status should be changed once DO is cancelled"
issues from this problem:
1. Hemant he is saying that he made One DO with all tags of one order n then canceled it, again made DO for same order, and the status now should be delivered, but it is showing partially delivered
2. during the scenario of 1st DO create - cancel - 2nd DO create
   a. we created Loading list already and Cube was still asking for creating Loading List
   b. since we have m

[2013-05-06 10:06] Mamta123 commented on #25
1. Ya Edward...While recording you can select Tag for recording, 4out of 10 or 10 out of 10 etc
2. Yes this has been done,you will get in next release

[2013-05-06 10:26] Mamta123 commented on #26
1. change these two columns to 总支数 and 总重量（理据）separately-
2. remove this part at last page, and move both two signatures to left

These two points are not clear

[2013-05-06 11:00] edward123 commented on #26
1. in English version, we have Total Nos and Delivered Qty(T), so pls change the equivalent Chinese to 总支数 and 理计重量（吨）separately， as well as in product summary.
2. the vehicle part info, pls delete first 3 info(vehicle no. w/t no. and LL no.)  and keep the site contact person and Project Coordinator.
3. Meanhwile, delete from time and to time

[2013-05-06 11:09] edward123 commented on #25
1. what we want is supposed we have one tag of 800 pcs CAB product, and within today only 700 pcs is produced, so we can record 700 pcs only, this is within one single tag id, not witnin one single order.

[2013-05-06 12:01] Nisha123 commented on #27
Done.

[2013-05-06 12:08] hemantbansal commented on #17
Done

[2013-05-06 12:09] hemantbansal commented on #16
" And when we choose the stock,if the stock is not enough,it let us pass,and in cutting seq. report,it will show the stock we use only to cut. "
This thing is done and let us know the NSX feedback

[2013-05-06 12:11] hemantbansal commented on #23
May i know NSX feedback on this

[2013-05-06 12:13] hemantbansal commented on #7
Need to discuss

[2013-05-06 12:16] hemantbansal commented on #6
I am waiting for corresponding Plan Id

[2013-05-06 12:28] hemantbansal commented on #18
Edward we need discussion on that

[2013-05-07 02:32] edward123 commented on #27
each dia shall have a sub total production weight as well in each m/c; that means each m/c has a total prod weight, within which each dia has a sub total prod weight.

[2013-05-07 09:25] #8 closed, assigned to Nisha123

[2013-05-07 09:27] #9 closed, assigned to Nisha123

[2013-05-07 09:28] #17 closed, assigned to nobody

[2013-05-07 12:07] hemantbansal commented on #12
Nisha, let me first discuss this with Edward after that you start working on this issue

[2013-05-10 04:31] Nisha123 commented on #27
Done.

[2013-05-10 06:52] Nisha123 commented on #20
Done. included in Release 5.1.9.

[2013-05-14 08:47] #5 closed, assigned to nobody

[2013-05-14 08:55] #20 closed, assigned to Nisha123

[2013-05-14 09:03] #11 closed, assigned to Nisha123

[2013-05-14 09:23] #27 closed, assigned to Nisha123

[2013-05-15 07:20] edward123 commented on #26
1. shape image doesn't show the detailed figure of that shape, only parameter A B C D.
   But just hold on the improvement until we confirm.

[2013-05-15 07:28] Mamta123 commented on #26
Edward,I think DO doesn't need the detail information.waiting for your feedback

[2013-05-16 09:17] #15 closed, assigned to Vijaykr123

[2013-05-16 09:17] #22 closed, assigned to Vijaykr123

[2013-05-16 11:10] Nisha123 commented on #18
![barlist report](https://f.cloud.github.com/assets/4178334/512063/c572ab20-be18-11e2-949d-487f940374de.jpg)

[2013-05-16 12:32] hemantbansal commented on #29
[15-05-2013 19:04:01]
Hemant : When we Cancel any DO then we also cancel the Loading list which we make for that part of order, so for  tags for which DO is cancel we need to again make loading list like new loading list
but production recording we dont need to do anymore for those tags

Edward Hong: yes, correct, recording will be done at the first time when creating 1st DO

[2013-05-16 12:36] hemantbansal commented on #4
[15-05-2013 19:10:01]
Hemant : In Cancel Order after freezing , if we give u the facility to unfreeze any freeze plan then will it solve ur purpose, because as soon as ur freeze plan will be unfreeze, then all order which are freeze in that plan will be in created status and u can modify, cancel those orders
Edward Hong: ya, i think it would be good to unfreeze any freeze plan

[2013-05-16 12:36] hemantbansal commented on #4
[15-05-2013 19:12:01]
Hemant : Edward in this case also many scenario will arise that we need to finalize as following
1. we wont be able to update machine available time as it was before freezing that plan , because we don't have history
2. We wont we able to revert back offcut stock status which was before freezing that plan because we may not have history, that u have to do it manually , but wh

[2013-05-17 05:11] Mamta123 opened #30 "Loading Advice For CAB in Chinese"
New Format for LA in chinese has been provided by Edward.

[2013-05-17 06:45] Mamta123 commented on #30
Feedback from Edward:-
1. logo has a dark outter line, could we remove it
2. we want customer name, not customer Prefix
3. delivery date  should be chinese date format(change it as 2013/5/17)

[2013-05-17 07:13] edward123 commented on #30
1. change the main title as 钢筋深加工/焊接网提货明细

[2013-05-17 07:23] aprajita123 commented on #30
Customer prefix changed to Customer name.
Delivery date changed to Chinese data format .
logo changed.
Main title  changed.

[2013-05-17 07:27] aprajita123 commented on #23
MIS All done

[2013-05-19 13:50] edward123 commented on #30
1. pls change the printout format from landscape to portrait
2. from 2nd page onwards, shall have the header(the one includes shape image, barmark ID, tag id, pcs, weight, etc)

[2013-05-21 06:06] #10 closed, assigned to nobody

[2013-05-21 06:11] #6 closed, assigned to nobody

[2013-05-21 07:32] edward123 opened #31 "MESH BBS, Barmark is unable to delete."

[2013-05-21 07:34] edward123 opened #32 "MESH Plan creation, unable to work in prod server, like UAT as Lucas mentioned"

[2013-05-21 09:18] edward123 opened #33 "Shearline Improvement submitted by Lucas"
1. use IBL at first priority, then 12m. Pls note currently we need to take as much IBL as possible for optimization.
2. cutting sequence report should be showed sequence based on RM length ascending - IBL first, then 12m, don't mix up IBL and 12m.
3. same FG length between different Comb number should be able to disply together, don't mix up with other length.

[2013-05-21 09:59] aprajita123 commented on #30
Format changed to portrait. and 2nd page on wards header is included in report.

[2013-05-22 15:38] edward123 commented on #29
from Hemant:
1. we wont be able to update machine available time as it was before freezing that plan , because we dont have history
[5/15/2013 9:43:58 PM] Hemant Kumar Bansal: 2. We wont we able to revert back offcut stock status which was before freezing that plan because we may not have history, that u have to do it manually , but whichever stock was blocked for that plan we can release that
[5/

[2013-05-27 15:45] edward123 opened #34 "add process time in bar list per m/c per grade"
operator shall follow such process time and make sure order can be completed in time.

[2013-05-27 15:49] edward123 commented on #33
addition:
1. offcut length wont be showing in LED screen, but showing 12m all the time.
2. In cutting sequence, when producing Comb No.1, the cutting length was not Comb No. 1, but Comb No. 2 or 3. meaning it will be jumping.

[2013-05-27 15:53] edward123 opened #35 "MIS report for CAB - produciton history"
Need showing tonnage for EACH bartype and grade produced in EVERY m/c, currently it only has a total tonnage for every m/c, need breakdown.

[2013-05-28 13:54] edward123 opened #36 "offcut issues"
1. Adding Offcut in stock which are generating from plan as output
2. Add offcut stock in prod_upload table which are used in that run

[2013-05-28 15:58] edward123 commented on #21
reopen

[2013-05-29 09:51] edward123 opened #37 "Invoice weight in LA CH version"
invoice wt in LA header does not tally with total orders weight

[2013-05-29 11:10] edward123 opened #38 "testing"
testing

[2013-05-30 09:39] Mamta123 commented on #21
Please describe in detail

[2013-05-30 11:07] Mamta123 opened #39 "Plan Detail Based on Elements -- in excel"
1.Plan Details in Excel for all orders in one plan based on Elements.

[2013-05-31 06:10] aprajita123 commented on #39
Completed..

[2013-05-31 06:12] aprajita123 commented on #39
![plandlt](https://f.cloud.github.com/assets/4264290/589398/196ebaec-c9b9-11e2-8425-49c741b3bce9.jpg)

[2013-05-31 08:09] Mamta123 commented on #37
Since One LL contains different Order ID with different SAP Order ID so inv wt was not correct,Now as disscussed with Edrward,following changes to be made

--> IF SAP Order ID is more then one then it should be Comma seperated.

[2013-05-31 10:30] aprajita123 commented on #37
Change has been made in LA _CH Report.

[2013-06-04 02:08] Mamta123 opened #40 "CAB Order Summay in Chinese"
Please find the latest format in skype

[2013-06-04 02:42] #37 closed, assigned to nobody

[2013-06-14 02:19] lucas1234 opened #41 "production recording issue"
![image](https://f.cloud.github.com/assets/4179992/652182/7c505f8c-d498-11e2-80f5-bf9f5d0fb761.png)
what's this issue?

[2013-06-14 02:32] lucas1234 opened #42 "cutting seq. enhancement!!!!!"
![image](https://f.cloud.github.com/assets/4179992/652223/7e71a256-d49a-11e2-838b-20cc98998a51.png)
![image](https://f.cloud.github.com/assets/4179992/652226/8f377804-d49a-11e2-8e21-8ddc34a5fd8d.png)
.
1.cube must assign suitable IBL for material,ex:if we want to cut 2900mm,should take  3000mm IBL(3000mm-3999mm),don't care about the scrap for IBL(you need to care is the Rebar's scrap and offcut),b

[2013-06-14 02:46] edward123 commented on #23
1. MESH - Material Usage Machine Wise, no produciton weight for SNC
   ![image](https://f.cloud.github.com/assets/4178426/652239/6170c6ae-d49b-11e2-9cc5-40fb7fef04b6.png)
2. MESH - Machine and Product Wise, no record for 20 tons
   ![image](https://f.cloud.github.com/assets/4178426/652257/5bc18ecc-d49c-11e2-9dc4-b4e0a3e612ca.png)

[2013-06-14 02:53] #32 closed, assigned to nobody

[2013-06-14 03:51] edward123 commented on #36
1. need to test in new order
2. yet to add in Prod_upload

[2013-06-14 07:03] #38 closed, assigned to nobody

[2013-06-14 07:10] edward123 commented on #39
unable to test in latest release.
![image](https://f.cloud.github.com/assets/4178426/652802/c1f56d02-d4c0-11e2-940a-ffec50541fec.png)

[2013-06-14 07:16] edward123 commented on #18
this is not what we want, we want an Excel format. Will wait to see if the plan details is doable for this requirement.

[2013-06-14 09:44] aprajita123 commented on #23
MESH - Machine and Product Wise report corrected.

[2013-06-18 09:59] sunitmishra commented on #13
completed

[2013-06-18 09:59] #13 closed, assigned to nobody

[2013-06-18 10:00] sunitmishra commented on #26
completed

[2013-06-18 10:00] #26 closed, assigned to nobody

[2013-06-19 09:58] edward123 opened #43 "Add theoritical weight by area for MESH, due date by Monday 24/6."
1. from time being, pls add it order summary first
2. in future, pls add it in MESH BBS screen

[2013-06-20 03:53] Nisha123 commented on #41
Lucas, plz re-test this issue with latest debug & close.

[2013-06-21 05:37] #31 closed, assigned to Mamta123

[2013-06-21 05:57] #41 closed, assigned to Nisha123

[2013-06-28 03:51] edward123 commented on #39
1. first plan is unable to select
2. barmark id to show text only.
   ![image](https://f.cloud.github.com/assets/4178426/719974/bcea009e-dfa5-11e2-8134-706a9e3a7393.png)
   ![image](https://f.cloud.github.com/assets/4178426/719978/0b7355c6-dfa6-11e2-94d5-380d4fba2560.png)

[2013-06-28 06:21] edward123 commented on #36
1. offcut is able to generate, but data is incorrect
2. yet to add this functionality

[2013-07-02 10:48] edward123 commented on #39
1. closed.
2. reopen

[2013-07-02 11:09] edward123 commented on #18
closed, refer to issue #39.

[2013-07-02 11:09] #18 closed, assigned to nobody

[2013-07-02 12:19] edward123 commented on #36
1. data is correct now.
2. yet to add

[2013-07-03 06:20] lucas1234 opened #44 "PRODUCTION UPLOADING"
![image](https://f.cloud.github.com/assets/4179992/741419/4ef30cdc-e3a8-11e2-8696-1ecfd9149aa2.png)

When I choose one of the the material to upload, cube can't let me pass,but when choose another stock(enough),and have one blank key in "0" ,I pass.Why?

2013.7.9
![image](https://f.cloud.github.com/assets/4179992/766002/c209adbc-e848-11e2-94c0-3aeb61f2a0e4.png)

[2013-07-03 06:40] edward123 opened #45 "3D shpae(like bar chair) should not be assigned to double bender."

[2013-07-03 11:04] edward123 opened #46 "Project name was auto changed to first project when editing order."
when we wanna edit order before order freezed, the project name will be atuo changed as first project under same customer.

and after order freezed, at the time of editing order, project name again was changed to first one, but become to grey that cannot change after re-edit.

[2013-07-04 00:51] lucas1234 opened #47 "Item detail"
![1](https://f.cloud.github.com/assets/4179992/746980/4d424bc8-e443-11e2-9317-91d126c0d024.jpg)
![2](https://f.cloud.github.com/assets/4179992/746979/4c8707f0-e443-11e2-9001-3c6a6473dcfa.jpg)
![3](https://f.cloud.github.com/assets/4179992/746981/4d54474c-e443-11e2-84d5-9c00ba758e37.jpg)

when we find we select the wrong grade, we want to change it,for ex. change 400E to 335E,we don't want cube do

[2013-07-04 03:01] lucas1234 opened #48 "Mesh Tag edit issue"
![5](https://f.cloud.github.com/assets/4179992/747287/ebc22bf8-e455-11e2-8315-9286e25df131.jpg)

can't key in the value directly,should use mouse to click!

2013.07.24
![qq20130724104914](https://f.cloud.github.com/assets/4179992/846334/03669814-f40c-11e2-87f1-0e3994645aba.jpg)

when I want to edit tag,don't let cube change any information I selectd before,or I will select one more time(ex:I selec

[2013-07-04 03:24] lucas1234 opened #49 "WELDING PRODUCTION SCHEDULE SUMMARY MESH ISSUE"
![23](https://f.cloud.github.com/assets/4179992/747345/ff8e9ce0-e458-11e2-989b-995257f53e42.jpg)

the same length cross wire should be assigned together from long to short.cross wire assigned first then main wire for welding machine report~

[2013-07-04 03:46] lucas1234 opened #50 "report bar list per machine(mesh)"
![12](https://f.cloud.github.com/assets/4179992/747377/1a03b9e6-e45b-11e2-8687-7b01ef1c1915.jpg)

We don't need to show prod wt. and inv wt. for single tag in this report,so please delete them,you have showed total in the top.
you need to add real prod mo/mo ,co/co and the length of  A and B(for shape 1C1) for single tag in this report,because you haven't added bar list per machine for mesh-bender

[2013-07-04 09:54] edward123 opened #51 "Double Bender recipe file downloading issue"
1. recipe file generation problem
   File name doesn't tally with tag data. It should show actual bar code number as rcp file name. Take RUN ID C-130703-002 for example in Prod DB.
2. drawing incorrect in rcp file
   from rcp file:
   ![image](https://f.cloud.github.com/assets/4178426/748642/b694f5ee-e48e-11e2-8c03-e8559dffdbc8.png)
   correct one:
   ![image](https://f.cloud.github.com/assets/417

[2013-07-08 06:35] edward123 commented on #51
sorry, correct one image should be as following:

![image](https://f.cloud.github.com/assets/4178426/759864/d7c05644-e79c-11e2-8973-40aa1aff8ef6.png)

[2013-07-09 03:28] lucas1234 commented on #42
Please See 3.FOR ORDER ID FXLSD1307CA01 IN UAT,This Problem not resolved!

[2013-07-09 03:44] #16 closed, assigned to nobody

[2013-07-09 03:45] lucas1234 commented on #16
"in cutting seq. Cube should first assign the offcut for stock use,then the rebar."is done.

[2013-07-09 03:49] #33 closed, assigned to hemantbansal

[2013-07-09 03:49] lucas1234 commented on #33
Please see issue #42

[2013-07-09 09:46] Mamta123 commented on #44
Yes you need to keyin 0 for all other fields

[2013-07-09 09:48] Mamta123 commented on #51
Please draw all shape from left to right.And retry it.

[2013-07-09 09:50] Mamta123 commented on #48
after Shape Id please press enter key.it will start from that cell

[2013-07-11 05:56] lucas1234 opened #52 "tag issue"
![image](https://f.cloud.github.com/assets/4179992/779816/b00206fe-e9ed-11e2-8819-b977fe36ce03.png)
could you change the project ID to project name,this tag is given to customer,project ID is meaningless.Could you change “25.0-2500-50”,to “25.0mm-2500 mm-50 pcs” or “25.0mm-2500 mm-50 支”，yes, add units!

2013.07.23
![2](https://f.cloud.github.com/assets/4179992/839043/6e750cdc-f333-11e2-81ed-b85ec3

[2013-07-11 06:09] edward123 opened #53 "Add and change THREE m/c in cube - new double bender due date 7th Aug"
1. convert radial bender to both manual bender and radial bender
2. add one manual cutter
3. add one new double bender from Italy

[2013-07-11 06:14] edward123 opened #54 "CAB m/c assignment is unable for both double bender and manual bender - m/c available time issue due date 7th Aug"

[2013-07-12 02:31] edward123 commented on #44
Even key in 0 for all other fields, error msg pops up. But we would expect those zero stock doesn't need to show in Prod Uploading.
![image](https://f.cloud.github.com/assets/4178426/786041/9cb9a978-ea9a-11e2-8366-ec4858a96c5b.png)

Msg from log:

Date Time Stamp : 7/12/2013 10:27:19 AM
Source of error :    在 System.Data.OleDb.OleDbCommand.ExecuteReaderInternal(CommandBehavior behavior, String met

[2013-07-12 02:33] edward123 commented on #54
Hemant found out the root cause for this issue. It's due to DB/MB m/c available time. Hence, we require Cube to provide as much notification as possilbe when receiving error msg.

[2013-07-12 02:41] #40 closed, assigned to nobody

[2013-07-12 02:43] #30 closed, assigned to nobody

[2013-07-12 02:46] #36 closed, assigned to nobody

[2013-07-12 02:46] edward123 commented on #36
1. add

[2013-07-12 07:26] edward123 commented on #39
1. Text for BarMark ID is doable. Need to add it for shape ID, expecially shape ID 0000.

[2013-07-12 07:45] edward123 commented on #54
M/C available time for double and manual bender was returned to 23 Jul again after freezing FXDSM1307CA15, Run ID C-130711-001. Processing time from Gantt Chart seems unreasonable, see attached images.
Two parts from Gantt chart, first part:
![image](https://f.cloud.github.com/assets/4178426/787183/12285122-ead3-11e2-9639-fd81935c40e6.png)

2nd part:
![image](https://f.cloud.github.com/assets/4178

[2013-07-13 04:10] lucas1234 opened #55 "Edit stock issue"
![image](https://f.cloud.github.com/assets/4179992/792159/c3095d80-eb71-11e2-9953-e50fd62823e4.png)
make  the total wt. or the total no. of pcs can be changed to zero!

[2013-07-15 02:58] lucas1234 opened #56 "BBS issue"
![12](https://f.cloud.github.com/assets/4179992/795474/2063033a-ecfa-11e2-98d0-02dc8df4c7a6.jpg)
![13](https://f.cloud.github.com/assets/4179992/795475/210e29ae-ecfa-11e2-98e8-330bd33a6171.jpg)

When we want to change the grade,please don't let the dia. changed,If we want to change the Dia., we do it ourselves.

2013.08.09
![image](https://f.cloud.github.com/assets/4179992/936152/230f3576-00a1-11e

[2013-07-16 06:21] edward123 commented on #21
like the one highlighted, actuall before saving, we have already keyed in WB ticket number, but after saving, this column is showing zero only. Need to re enter WB ticket number so that it can be saved.
![image](https://f.cloud.github.com/assets/4178426/802979/dab9899e-eddf-11e2-9bbc-41d5c6225de0.png)

[2013-07-16 06:27] edward123 commented on #21
same problem for DeliveryDate, before saving, we have changed Delivery Date to 15/7, but after saving, the Delivery Date is still showing 13/7. Need to re enter 15/7 as Delivery Date so that it can be saved.
![image](https://f.cloud.github.com/assets/4178426/803004/be3360aa-ede0-11e2-9888-5b17cfad7bdd.png)

[2013-07-17 12:19] edward123 commented on #39
Text for shape ID 0000 was resolved.

[2013-07-17 12:19] #39 closed, assigned to aprajita123

[2013-07-18 08:04] edward123 opened #57 "Uploaded Plans was unable to trigger reports and tags in Plan Reports. (7 days)"
![image](https://f.cloud.github.com/assets/4178426/817833/660f46c2-ef80-11e2-9be1-5ee2c616a14e.png)

example: in July 15th, unable to generate reports

![image](https://f.cloud.github.com/assets/4178426/817840/97719fa8-ef80-11e2-9dee-a55610870757.png)

[2013-07-18 08:16] edward123 commented on #44
issue resolved

[2013-07-18 08:16] #44 closed, assigned to nobody

[2013-07-18 09:07] edward123 commented on #49
pls sort out by tag id

![image](https://f.cloud.github.com/assets/4178426/818021/7dba75de-ef86-11e2-9bd9-bcd34e74a613.png)

Hemant advised to maintain the sequence for Welding in Production Schedule Report, but currently this functionality is only for SNC, not for Welding.

![image](https://f.cloud.github.com/assets/4178426/818128/77f39fec-ef89-11e2-964d-39dd36b8e1f1.png)

[2013-07-18 09:23] edward123 opened #58 "Unable to select CRB 550 for SNC preferred dia in MESH New Plan function"
![image](https://f.cloud.github.com/assets/4178426/818198/95d4b1c0-ef8b-11e2-9efb-4d4656ea8296.png)

[2013-07-20 04:46] #57 closed, assigned to nobody

[2013-08-01 03:01] edward123 commented on #53
Hemant, how about Manual Cutter?

[2013-08-01 06:45] edward123 commented on #48
how about point 2?

[2013-08-01 07:17] #25 closed, assigned to aprajita123

[2013-08-01 07:22] #14 closed, assigned to Mamta123

[2013-08-01 07:24] edward123 commented on #12
Hemant, when we can discuss on this?

[2013-08-01 07:26] edward123 commented on #7
when can discuss?

[2013-08-02 01:05] lucas1234 commented on #52
For 2013.07.23.Please resolve it first!!we have a big project next week,please assist!!!

[2013-08-02 01:09] lucas1234 commented on #50
highlight.please assist !         reslove it as fast as you can!!!you only remove the Prod wt.and Inv. wt.

[2013-08-02 11:19] Mamta123 commented on #52
![meshtag](https://f.cloud.github.com/assets/4178293/900485/627f0772-fb65-11e2-966c-f5eddf0e53ce.png)

[2013-08-02 11:20] Mamta123 commented on #52
Done please check

[2013-08-05 10:54] edward123 opened #59 "Provide enough clarification to Ming Hua as to how to extract invoice wt from cube"

[2013-08-05 12:22] edward123 commented on #43
1. done.
2. to add it in Order Editting page, due date 9th Aug.

[2013-08-07 01:50] lucas1234 commented on #52
well done!

[2013-08-07 01:50] #52 closed, assigned to nobody

[2013-08-07 10:31] Nisha123 commented on #50
Done.

[2013-08-08 02:43] lucas1234 opened #60 "Tag ID sorting, due date by 8th Sept"
2013.08.08
![image](https://f.cloud.github.com/assets/4179992/929188/0a28db1c-ffd3-11e2-804b-84f7ff4c93e0.png)
we found that cube sort the tag seq. by Bar Mark ID.am I right?this is not convenient for production,so we need you do some changes.sorting(tag ID) by below for different machines:
1.Grade 2.dia 3. shape(from multi bend to 0 bend) 4.length(from big to small).....

[2013-08-10 06:20] #55 closed, assigned to nobody

[2013-08-10 06:44] edward123 opened #61 "New Release 5.3.4 will pop up System Error Msg when entering CAB BBS details and editing tag"
![image](https://f.cloud.github.com/assets/4178426/942184/20f0158e-0188-11e3-821b-e338628a7e0a.png)
![image](https://f.cloud.github.com/assets/4178426/942185/2e6bed46-0188-11e3-940b-25d4f9917d38.png)

[2013-08-10 06:50] #46 closed, assigned to nobody

[2013-08-10 06:52] edward123 commented on #58
duplicate bar type and dia

[2013-08-14 06:36] #47 closed, assigned to nobody

[2013-08-16 04:44] Mamta123 commented on #43
Done

[2013-08-16 09:09] #43 closed, assigned to nobody

[2013-08-17 06:14] #61 closed, assigned to Vijaykr123

[2013-08-22 06:06] cubensx commented on #51
Please close this. As for new requirement in which MSL >9600,it was agreed that since this type of order volume is less so no need to modify the rcp file.

[2013-08-22 08:38] edward123 commented on #51
Sorry, Mamta, i checked the chat history in Skype. I think Lucas misunderstood my thought. What i was trying to say is to ignore those more than 2 bends given CSL>9600, but we still need those CSL>9600 with one or two bends.

[2013-08-23 01:26] #48 closed, assigned to nobody

[2013-08-23 01:31] #56 closed, assigned to nobody

[2013-08-23 01:37] #59 closed, assigned to Mamta123

[2013-08-23 01:45] #58 closed, assigned to aprajita123

[2013-08-23 02:49] edward123 commented on #50
reopen, for U shape MESH, example shape 2C1, CO1 and CO2 shall be same value 32, not 14/50. Pls check.
![image](https://f.cloud.github.com/assets/4178426/1013929/23a3aa08-0ba0-11e3-9933-653f021f18d9.png)

[2013-08-23 02:57] edward123 commented on #49
unresolved in UAT
![image](https://f.cloud.github.com/assets/4178426/1013922/c5788aa2-0b9f-11e3-8221-47034b03f772.png)

[2013-08-23 03:15] #35 closed, assigned to nobody

[2013-08-23 03:31] edward123 opened #62 "How to assign CAB shape between TJK DB and Schnell DB"
Schnell DB will be arriving at 9th Sept. So pls work out the assignment logic by 15th Sept.

[2013-08-23 03:37] edward123 opened #63 "how to do m/c assignment for manual cutter, especially for those short length, need to balance between RMS shearline and manual cutter."
Manual cutter now is ready to proudce. Pls work out ASAP, deadline 31st Aug.

[2013-08-23 03:44] edward123 opened #64 "RMS shearline BIN re-assignment"
BIN ID 1-5: to assign those long length that need to proceed in double bender

BIN ID 7-11: to assign mainly those short length except proceeded by DB, example to proceed in radial/curve bender, manual bender.

Due date: 8th Sept.

As per latest guideline: BIN ID 1/2 are used for Straight bar
and BIN ID 10/11 are used for those shape that cannot be proceeded in DB
others are used for whatever shap

[2013-08-23 04:37] edward123 commented on #54
due date: 27th Aug

[2013-08-28 00:50] edward123 commented on #54
Deadline has been passed, pls work out ASAP.

[2013-08-28 08:44] edward123 commented on #4
this time we wanna cancel freezed plan is not because customer would cancel the order after producttion, but because example we wanna run 2 orders in same plan, which have same grade and diameter, so that we can optimize the plan. But by accident, we freeze one of the plans only. Therefore, we have to copy another order and then cancel the freezed plan. So the offcut stock shall be able to revert

[2013-08-29 04:26] Nisha123 commented on #50
Done. plz test with next release.

[2013-09-02 08:45] edward123 commented on #21
supposed preliminary delivery date for above order was 13th July, so at that time when we created loading list, we input 13th July. But actually, customer came to pick up FG on 16th July. Therefore, we have to change delivery date as 16th July. But in CuBe, the first time to save 16th as delivery date is unsuccessful to show in LL screen, still showing 13th as delivery date; need to edit again and

[2013-09-02 12:14] hemantbansal commented on #49
UAT Database , Plan Id PL-20130823-001, Order Id MESH1308MA07,
23 Aug, Day Shift,
Schedule Summary Report, Welding Process, GWC2800 Machine

[2013-09-02 12:58] hemantbansal commented on #45
CTD_PLAN_ID CTD_ORDER_ID    CTD_ELEMENT_ID  CTD_ITEM_ID CTD_TAG_ID  CTD_SEQTAG_ID   CID_SHAPE_ID    CSM_NO_BEND CTD_PB_MC_ID    CTD_SHEARING_MC_ID  CTD_SAW_MC_ID   CTD_COUPLER_MC_ID   CTD_RB_MC_ID    CTD_BENDING_MC_ID
PL-20130525-009 FXDSM1305CA37   2   20  18  27  4013    4   -1  1   -1  -1  -1  4
PL-20130525-009 FXDSM1305CA37   4   62  39  59  4013    4   -1  1   -1  -1  -1  4
PL-20130602-004 FX

[2013-09-03 06:30] edward123 commented on #53
Hemant, how about first one - to convert RMS#18 curve bender to both Manual bender and Radial bender.

[2013-09-03 06:33] edward123 commented on #54
Hemant will try to generate this scenario again and then will inform us the root cause. Currently, this issue was happening randomly.

[2013-09-03 09:47] edward123 commented on #7
closed, as per Catherine, no need to add this functionality.

[2013-09-03 09:47] #7 closed, assigned to nobody

[2013-09-03 09:56] edward123 commented on #50
pending for new requirement - need to add production segment length for A/B/C example - A 182, B 2000, C 182.

[2013-09-03 10:21] edward123 commented on #23
add grand total for welding m/c
![image](https://f.cloud.github.com/assets/4178426/1071924/94a161b0-1482-11e3-8f17-a11ffb2a6e10.png)

[2013-09-03 10:46] Nisha123 commented on #49
Done

[2013-09-06 05:30] hemantbansal commented on #63
![img_05092013_150621](https://f.cloud.github.com/assets/4178666/1093884/49cdc0cc-16b5-11e3-8104-c321ee389ee9.png)

[2013-09-06 05:55] hemantbansal commented on #53
Hi Edward , these 3 machines are added in UAT , Please test

[2013-09-06 06:26] hemantbansal commented on #62
The tag will be assign based on Optimization but with in constraints like as following
1. Tag should follow the constraint of that machine
2. whichever machine is free first tag will allocate to that machine

Finally End time for a Run of all Benders should be equivalent as much as possible

[2013-09-09 06:44] edward123 commented on #53
closed #53, remaining manual cutter issue will refer to #63.

[2013-09-09 06:44] #53 closed, assigned to hemantbansal

[2013-09-09 08:35] #49 closed, assigned to hemantbansal

[2013-09-09 11:21] #45 closed, assigned to nobody

[2013-09-10 08:44] edward123 commented on #4
Hemant, i'm testing cancel freezed plan
[4:32:16 PM] Edward Hong: got following problem, plan has error
[4:32:21 PM] **\* Edward Hong 发送 IMG_10092013_163221.png ***
![image](https://f.cloud.github.com/assets/4178426/1113171/330ed018-19f5-11e3-8e5e-808543a195d4.png)

[4:33:32 PM] Edward Hong: i have tried manual assignment, but still have such error
[4:33:58 PM] Edward Hong: meaning still cannot wo

[2013-09-11 02:33] lucas1234 commented on #60
well done!

[2013-09-11 02:33] #60 closed, assigned to hemantbansal

[2013-09-11 06:24] edward123 commented on #62
Currently, Schnell DB has been added in cube and able to assign. Moving forward we'll still need to balance m/c assignment for TJK DB and Schnell DB after SNL DB arriving on 20th Sept, no matter based on m/c constraint or some kind of shape. Will look into this by then and might still need TG's help.

change to medium.

[2013-09-16 12:21] #4 closed, assigned to nobody

[2013-09-17 08:44] edward123 commented on #42
1. to use short IBL as much as possilbe
2. we need sequencing sorted out by length from short to long.
3. offcut generated during shearing should offset used IBL as much as possible.

[2013-10-01 09:12] edward123 commented on #54
to be verified

[2013-10-15 09:44] aprajita123 commented on #23
Done

[2013-10-15 11:17] Nisha123 commented on #34
Done. plz check with release # 5.4.1.

[2013-10-16 07:50] edward123 commented on #21
when input pure digit such as 112, WB ticket no.,  it is able to show correct data in this column at the first time, but when input actual WB ticket no. such as W13100666, first time it is showing 0, need to input 2nd time, then it can show the correct WB ticket no.. Pls note it. Problem may be the character like W.
![image](https://f.cloud.github.com/assets/4178426/1340657/1aeb9d8c-3637-11e3-805e

[2013-10-16 09:26] #23 closed, assigned to aprajita123

[2013-10-17 06:48] edward123 commented on #34
1. Start and End time are incorrect.
   ![image](https://f.cloud.github.com/assets/4178426/1349721/093ee51e-36f8-11e3-8c4d-e616fe86dcbe.png)
2. Currenlty it's by m/c wise only, pls amend it by grade and diameter wise as well.

[2013-10-17 06:51] edward123 commented on #54
close it now as currently this one is not happening again. Will reopen it once happening again.

[2013-10-19 07:39] edward123 commented on #50
CO1 and CO2 shall be actual production length 82/82, not 100/100. As to segment lenght A B C, they're decided by bending way, example if bending by sequence ABC, respective ABC length will be 200, 2000, 164; if bending by sequence ACB, that length will be 200, 1964, 200.
![image](https://f.cloud.github.com/assets/4178426/1365794/912a934e-3890-11e3-9fc9-6248332359a8.png)

[2013-10-19 07:41] edward123 commented on #29
1. produciton recording doesn't need to do 2nd time.
2. loading list can be created 2nd time.
   3.order status is changed accordingly.

[2013-10-19 07:41] #29 closed, assigned to nobody

[2013-10-19 09:28] edward123 commented on #64
Plan ID　PL-20131019-002 in UAT DB
1. for dia 12, those shapes proceeded by manual bender and curve bender were assigned to BIN ID 7, this is incorrect.
   ![image](https://f.cloud.github.com/assets/4178426/1365946/143e016c-38a0-11e3-9798-e511bca46645.png)
   ![image](https://f.cloud.github.com/assets/4178426/1365947/1a4cb0a8-38a0-11e3-9da6-f95623d2875f.png)
2. for dia18, straight bar shall be assi

[2013-10-21 12:07] Mamta123 commented on #24
Done
@edward123 please test this once new release is sent to you

[2013-10-21 12:14] Mamta123 commented on #50
How to know the bending sequence.Coz for different shapes bending sequence may be different,.Then how to ensure that lengths A,B & C are showing correct Prod len. As now it is showing Invoice Length.

[2013-10-23 10:12] edward123 commented on #34
done in release 5.4.2

[2013-10-23 10:12] #34 closed, assigned to Nisha123

[2013-10-23 10:15] edward123 commented on #12
now it is Process Type wise, not m/c wise. Pls test at your end.
![image](https://f.cloud.github.com/assets/4178426/1389001/0aa70e3a-3bcc-11e3-918e-4cdd545bd5f7.png)

[2013-10-23 10:25] edward123 commented on #21
Date Time Stamp : 10/23/2013 6:09:19 PM
Source of error :    在 System.Data.OleDb.OleDbCommand.ExecuteReaderInternal(CommandBehavior behavior, String method)
   在 System.Data.OleDb.OleDbCommand.ExecuteNonQuery()
   在 CuBe.t_tool.updatequery(String strupdate) 位置 D:\ApCuBeVSS\CuBe_NSX_26Sept\CuBe_v2.0.root\CuBe_v2.0\CuBe\t_tool.vb:行号 71
   在 CuBe.frmAddLoadingList.cmdSave_Click(Object sender, EventAr

[2013-10-24 01:30] edward123 commented on #64
testing in new release 5.4.2, as agreed, curve shape shall be assigned to BIN 10/11, but cube assigned to BIN 3, which is for DB.
![image](https://f.cloud.github.com/assets/4178426/1395955/c8f8a2ac-3c4b-11e3-859b-b2b112adfa0d.png)
![image](https://f.cloud.github.com/assets/4178426/1395957/d2fd5248-3c4b-11e3-98c9-f549879fb733.png)

[2013-10-24 01:42] edward123 commented on #24
1. loaded attached excel file to cube
   ![image](https://f.cloud.github.com/assets/4178426/1395981/10e0834a-3c4d-11e3-88cb-332e8f491973.png)
2. key in batch no. Q10000-13 in cube, other 3 info cannot pop up, like heat no.,grade and dia.
   ![image](https://f.cloud.github.com/assets/4178426/1395986/56bf8f00-3c4d-11e3-8396-97e04f1c98ca.png)

[2013-10-25 10:13] Mamta123 commented on #24
1.Only three records are inserted,since its reading from 3 row Q10000-14 batch no.
2. Tested for Q10000-14,its working fine
3. Will change starting row logic

[2013-10-30 10:06] edward123 commented on #12
closed

[2013-10-30 10:06] #12 closed, assigned to Nisha123

[2013-10-30 10:25] edward123 commented on #21
closed

[2013-10-30 10:25] #21 closed, assigned to Vijaykr123

[2013-10-30 10:51] edward123 opened #65 "other open plans are still there after the same order ID had been freezed"
example order ID FXXHM1310CA71
![image](https://f.cloud.github.com/assets/4178426/1436189/3af0d62c-4151-11e3-9d93-99b2185cd9a7.png)

[2013-10-30 10:54] edward123 opened #66 "Unable to edit stock for this line stock in Prod DB - HRB 335E dia 14 rebar"
whatever piece we edit for this stock, it is always showing 7 pcs.
![image](https://f.cloud.github.com/assets/4178426/1436191/5d6fc37a-4151-11e3-97fc-c0724c2cf132.png)

[2013-10-30 11:12] edward123 commented on #54
issue happened again.
![image](https://f.cloud.github.com/assets/4178426/1436312/2df995f0-4154-11e3-9508-dc1bcc1bd4dd.png)

[2013-11-05 10:39] edward123 commented on #51
workable now.

[2013-11-05 10:39] #51 closed, assigned to nobody

[2013-11-07 01:03] edward123 commented on #50
## As per discussion, Mamta will be implementing following logic for actual production OH and actual segment length(ABC).

1) Please note our machine only able to produce spacing 100 with 50mm steps increasing, therefore, no way to change the line spacing to 182.

Therefore, if have bending, i propose the logic as below:

OH1 - total creep length

Eg for this case, theoriticle oh=100/100, producti

[2013-11-07 01:54] edward123 commented on #24
1. cannot search for previous WP batch ID, eg. W131105001.
   ![image](https://f.cloud.github.com/assets/4178426/1488578/84c823e2-474e-11e3-9242-4029a520ca70.png)
   but WP tag print can find out W131105001.
   ![image](https://f.cloud.github.com/assets/4178426/1488580/9fa882a6-474e-11e3-80aa-807964fa53aa.png)
2. Diameter is showing wrongly for raw material, see RawMatlNo in FINISHED GOODS COIL LI

[2013-11-07 02:03] edward123 opened #67 "For most of Oct orders, DO date is not updated in Order Details after updating Loading List with WB ticket no. vehicle no. and all other info."
![image](https://f.cloud.github.com/assets/4178426/1488633/75353a8a-4750-11e3-96ea-ece6b23744af.png)
![image](https://f.cloud.github.com/assets/4178426/1488639/a1c03faa-4750-11e3-9389-e28918c14ca1.png)

[2013-11-07 06:46] edward123 commented on #24
Mamta, just simplify it - implement download to excel facility
[2:21:36 PM] Edward Hong: still we need you to make some improvement:
[2:22:57 PM] Edward Hong: 1. raw matl dia issue - a. you can extract dia from uploading excel file; b. pls rectify dia in RawMatlNo column
[2:30:14 PM] Edward Hong: 2. no need to include Coil No both in RMBatchNo and WPBatchNo, like Q10000-21-02 and W13110007-02 to b

[2013-11-07 06:47] edward123 opened #68 "WP Download to Excel facility implementation & WP batch record history"

[2013-11-12 10:03] edward123 commented on #24
download to Excel facility done.
point 1. a- resolved, b - unresolved, actually we keyed in diameter 8 instead of 6.
![image](https://f.cloud.github.com/assets/4178426/1520705/89e285d4-4b81-11e3-9644-704d5905e9e6.png)

point 2/3/4 - remaining

[2013-11-12 10:07] edward123 commented on #68
closed in R5.4.5.

[2013-11-12 10:07] #68 closed, assigned to nobody

[2013-11-12 10:17] edward123 commented on #66
closed in R5.4.5.

[2013-11-12 10:17] #66 closed, assigned to nobody

[2013-11-12 10:38] edward123 commented on #65
closed currently, since not happening once again, will reopen once again. And will try to find out the log file for this error.

[2013-11-12 10:38] #65 closed, assigned to nobody

[2013-11-12 10:52] Mamta123 commented on #24
Done point 2- Removed coil no. both from RMBatch & WPBatch
Point 3 - Disabled auto population feature
Point 4 - Changed Format Of WPMatNo to show BartypeGrade

[2013-11-13 07:29] Nisha123 commented on #50
Done.

[2013-11-13 07:43] edward123 commented on #64
closed in R5.4.5.

[2013-11-13 07:43] #64 closed, assigned to hemantbansal

[2013-11-13 08:12] edward123 commented on #24
R u sure all of them have been resolved in R5.4.5? From what i have tested, none of them has been resolved, see the highlighted one.
![image](https://f.cloud.github.com/assets/4178426/1529651/3db37438-4c3b-11e3-8171-d398b6fd2bd7.png)

[2013-11-13 08:19] edward123 commented on #50
From attached image, CW OH1 should be 14. Pls note following script from Skype
sorry, I meant since we can NOT change the spacing of MAIN wire.
[10:31:11 AM] Edward Hong: just calculate, CW OH1+2=32+50=82, CW Prod Length 1164, then 1164-82/100=10.82, that means we have to chagne MW spacing. But you know we cannot change.
[10:39:51 AM] Edward Hong: Segment B is not directly related with OH, same as

[2013-11-13 08:45] Nisha123 commented on #50
ok Edward, got your point. i have changed the logic accordingly and will send with the release 5.4.6.

[2013-11-13 09:02] edward123 commented on #67
DO date is incorrectly showing in Order Details, see all the updating orders by today are showing DO date as 13/11, but actually all of them are delivered a few days before, like the highlighted order FJDSM1311CA21, it was delivered on 12/11. Pls revise the logic, i think it was casued by the DO date in Place DO in Loading list details.
![image](https://f.cloud.github.com/assets/4178426/1529907/78

[2013-11-14 03:20] edward123 commented on #50
closed it in R5.4.6.

[2013-11-14 03:20] #50 closed, assigned to nobody

[2013-11-14 03:27] edward123 commented on #24
closed in R5.4.6.

[2013-11-14 03:27] #24 closed, assigned to Nisha123

[2013-11-22 06:09] edward123 commented on #67
closed in R5.4.7.

[2013-11-22 06:09] #67 closed, assigned to nobody

[2013-11-23 02:56] edward123 opened #69 "add Project Name in Production Recording and Open Plan"
1. for Prod Recording, pls add in the mid of Customer and Total Tags
2. for Open Plan, pls add in the mid of Customer Name and OrderID
3. for Loading List, Pls add in the mid of Order ID and Trailer Type

[2013-11-23 03:02] edward123 commented on #69
![image](https://f.cloud.github.com/assets/4178426/1605757/3590269a-53eb-11e3-9538-c201e57f9c0c.png)
![image](https://f.cloud.github.com/assets/4178426/1605759/471a7622-53eb-11e3-865b-7721060e0ef0.png)
![image](https://f.cloud.github.com/assets/4178426/1605790/57547ebc-53ef-11e3-9f7e-4782b912f76c.png)

[2013-11-23 08:21] edward123 commented on #63
Testing Order ID FXDSM1310CA04, Plan ID PL-20131123-001 in UAT DB. As showing in attached image, Parameter for manual cutter is Max Cuts any, shapes from Manual Bender, Max Pcs 20.
![image](https://f.cloud.github.com/assets/4178426/1606141/c458732a-5416-11e3-967f-119e21273f73.png)
1. following one should be assigned to Shearline 611 both due to parameter q'ty and shapes resource.
   ![image](https

[2013-11-23 08:38] edward123 opened #70 "assign proceed-able L shape to double bender first"
For such L shape within double bender m/c limitation, pls assign to double bender by default coz it will save time and workload. And we'll change to manual bender manually if volume is big enough to balance the m/c assignment.
![image](https://f.cloud.github.com/assets/4178426/1606171/cbce590e-541a-11e3-91fc-5fc624e4c277.png)

[2013-11-29 09:25] edward123 commented on #63
Shape from Manual bender still assigned to shearline
![image](https://f.cloud.github.com/assets/4178426/1643960/0924c7ae-58d8-11e3-8d09-499a9fce4d76.png)

[2013-12-04 10:22] edward123 opened #71 "for this bar chair, we have 4 bends, creep deduction shall be 8D instead of 4D, right?"
![image](https://f.cloud.github.com/assets/4178426/1672245/e819b494-5ccd-11e3-8918-01b0e4824556.png)

[2013-12-04 10:43] edward123 opened #72 "New requirement for Bar List per M/C for CAB and MESH"
Required in Bar List per M/C:

Poly Bender – currently have total pcs, need to add total meters and bends
Double/Manual Bender – total bends
Welding M/C – total cross wire q’ty
SNC – total meters

[2013-12-04 10:45] edward123 commented on #72
one week has been passed as per last discussion, pls advise the progress.

[2013-12-04 10:54] edward123 opened #73 "Based on issue#72, need M/C wise weekly report"
Poly Bender – currently have total pcs, need to add total meters and bends
Double/Manual Bender – total bends
Welding M/C – total cross wire q’ty
SNC – total meters

[2013-12-04 11:31] edward123 commented on #63
at this time, i tested Plan ID PL-20131204-002 with the change of prod length as 5000mm, parameters is still as following - Max Cuts any, shapes from Manual Bender, Max Pcs 25. Got problems as below;
1. q'ty exceeds 25 pcs
![image](https://f.cloud.github.com/assets/4178426/1672705/6397e826-5cd7-11e3-8343-16df3707374a.png)
![image](https://f.cloud.github.com/assets/4178426/1672712/88baf5bc-5cd7-11e

[2013-12-18 07:51] edward123 opened #74 "add processing time in cutting sequence per dia wise, and separate total processing time into dia wise for each m/c in Bar List Per M/C report"

[2013-12-21 08:13] edward123 commented on #69
point 1 and 3 are resolved

point 2, project name is reoslved, but cannot show m/c details, which are blank, testing in Prod DB. Need to resolve ASAP.
![image](https://f.cloud.github.com/assets/4178426/1795494/b5fc6a2c-6a17-11e3-9298-109ca4a596d7.png)

[2013-12-21 08:51] edward123 commented on #72
poly bender - miss pcs at diameter wise

double/manual bender - miss pcs at diameter wise

SNC - miss pcs at diameter wise

Welding M/C - miss pcs at prod code wise

ALL order ID is missing.
![image](https://f.cloud.github.com/assets/4178426/1795537/ef049a0c-6a1b-11e3-8c16-9714619f0b32.png)

[2013-12-23 06:17] #71 closed, assigned to nobody

[2013-12-23 06:36] edward123 commented on #74
closed in R5.4.9

[2013-12-23 06:36] #74 closed, assigned to nobody

[2013-12-26 09:57] edward123 commented on #72
closed at R5.5.0.

[2013-12-26 09:57] #72 closed, assigned to nobody

[2013-12-26 09:57] edward123 commented on #69
closed at R5.5.0.

[2013-12-26 09:57] #69 closed, assigned to nobody

[2013-12-26 10:02] edward123 opened #75 "Freezed Plan Canceling for MESH"
![image](https://f.cloud.github.com/assets/4178426/1810098/7423c392-6e14-11e3-8d0e-ec8cc1f6077a.png)

[2013-12-26 10:13] edward123 opened #76 "Daily M/C processing time report for CAB"
You can refer to MESH Process Time report.
![image](https://f.cloud.github.com/assets/4178426/1810137/66f8cea4-6e16-11e3-9905-242514ae30d5.png)

[2013-12-26 10:21] edward123 opened #77 "Invoice Length could not be fully showed in Tag, including the UOM."
![image](https://f.cloud.github.com/assets/4178426/1810156/7a84343a-6e17-11e3-91df-5d3014e552cd.png)

[2013-12-26 10:41] edward123 commented on #54
closed currently, will reopen once happening again.

[2013-12-26 10:41] #54 closed, assigned to hemantbansal

[2013-12-26 11:30] edward123 commented on #63
Testing Plan ID PL-20131226-001 in UAT DB, parameters for manual cutter - max cuts 1, shapes from manual bender, max pcs 25, got incorrct result, cutting suquence for manual cutter has multiple cuts.
![image](https://f.cloud.github.com/assets/4178426/1810376/3e534e02-6e20-11e3-93dd-c464d217796d.png)

2nd for optimization, in shearline cutting sequence, it used 9000 to cut 6000 with offcut 3000. Bu

[2013-12-28 08:50] edward123 opened #78 "add project name under customer name in loading advice"
The equivalent Chinese of project name is 项目名称.
![image](https://f.cloud.github.com/assets/4178426/1817418/194267fa-6f9d-11e3-8429-fe8a91eb8907.png)

[2013-12-31 06:07] edward123 opened #79 "add Export to Excel functionality for Loading List Summary"
![image](https://f.cloud.github.com/assets/4178426/1825978/c063adc8-71e1-11e3-87a0-d3c8038c879a.png)

[2013-12-31 10:02] edward123 opened #80 "add Project Name beside Order ID in order summary"
![image](https://f.cloud.github.com/assets/4178426/1826617/a453662a-7202-11e3-9acb-2b8f290bdcdd.png)

[2014-01-02 09:53] aprajita123 commented on #79
Done

[2014-01-02 09:53] aprajita123 commented on #80
Done

[2014-01-02 09:54] aprajita123 commented on #78
Done

[2014-01-02 09:54] aprajita123 commented on #77
Done

[2014-01-02 09:55] aprajita123 commented on #75
Done

[2014-01-03 02:26] edward123 commented on #75
closed in R5.5.1.

[2014-01-03 02:26] #75 closed, assigned to nobody

[2014-01-03 02:37] edward123 commented on #77
closed in R5.5.1.

[2014-01-03 02:37] #77 closed, assigned to nobody

[2014-01-03 02:40] edward123 commented on #78
Project Name does not tally between Loading List and Loading Advice.
![image](https://f.cloud.github.com/assets/4178426/1837159/3e1c4668-7420-11e3-9548-964bd7c94855.png)
![image](https://f.cloud.github.com/assets/4178426/1837161/57b51e06-7420-11e3-9965-5e360af40774.png)

[2014-01-03 02:42] edward123 commented on #80
closed in R5.5.1. Project Name in order summary is correct.
![image](https://f.cloud.github.com/assets/4178426/1837176/bebafab2-7420-11e3-9ea5-834df8a52d34.png)

[2014-01-03 02:42] #80 closed, assigned to nobody

[2014-01-03 02:57] edward123 commented on #79
closed in R5.5.1.

[2014-01-03 02:57] #79 closed, assigned to nobody

[2014-01-03 03:12] edward123 opened #81 "Cannot cancel Plan ID PL-20131210-009"
Hemant helped cancel the Prod Recording for these two orders, but order status is still under Recorded Status, while plan status in uploaded.

![image](https://f.cloud.github.com/assets/4178426/1837224/6f42a04a-7423-11e3-81d9-246a99b85e40.png)
![image](https://f.cloud.github.com/assets/4178426/1837254/c85f34e4-7424-11e3-80f4-2b92acd833cd.png)

[2014-01-04 05:29] aprajita123 commented on #78
Closed

[2014-01-04 06:13] edward123 commented on #78
closed in R5.5.2.

[2014-01-04 06:13] #78 closed, assigned to nobody

[2014-01-06 10:17] edward123 opened #82 "Invoice wt in loading advice does not tally."
Take following example, invoice wt in this loading list is just showing that of CA17, same as project name - only that of CA17, cannot find out invoice wt and project name of CA16.
![image](https://f.cloud.github.com/assets/4178426/1849697/0c454c28-76bb-11e3-84a7-00c8cdc36d7f.png)

![image](https://f.cloud.github.com/assets/4178426/1849700/2e22e51c-76bb-11e3-95e6-437577054f6b.png)

[2014-01-06 10:34] edward123 opened #83 "Tag generation and printout issue"
Thing is that when printing out MESH SNC tag in cube pc, there are total 8 tags, but cube generated 16 tags with 8 blank tags, that's one real tag, one blank tag, one real tag and blank again.But curiosity is that I used the same latest release in my pc, but cube in my pc generated the correct 8 tags.

Only MESH SNC tag has this problem. MESH tag and CAB tag don't have such problem.

Pls check Pla

[2014-01-16 01:36] edward123 commented on #82
Mamta, pls resolve ASAP, it's urgent!

[2014-01-16 01:44] edward123 opened #84 "Number of digits for Project Name in Loading Advice"
How many digits are allowed to key in Project Name in Loading Advice? Pls enlarge the space to allow 15 digits keyed in.
![image](https://f.cloud.github.com/assets/4178426/1926992/441d7bd4-7e4f-11e3-9915-9dec85c1cc5e.png)

[2014-01-16 02:02] edward123 opened #85 "Stock used length is not fully displayed in cutting sequence due to space limited."
stock used length is only displayed 8000mm and below, those above 8000mm is unable to show. Since Github is unable to attach files, pls refer to cutting sequence of Run ID C-140113-002 from page 9 to 13.
![image](https://f.cloud.github.com/assets/4178426/1927096/443bce7a-7e51-11e3-8f30-8648f29aca3a.png)
![image](https://f.cloud.github.com/assets/4178426/1927107/7545af68-7e51-11e3-8076-7af9dd62a2cc

[2014-01-16 08:06] aprajita123 commented on #84
Done

[2014-01-17 03:33] edward123 commented on #84
closed in R5.5.3.

[2014-01-17 03:33] #84 closed, assigned to Mamta123

[2014-01-17 03:33] edward123 commented on #82
closed in R5.5.3.

[2014-01-17 03:33] #82 closed, assigned to Mamta123

[2014-01-17 03:51] edward123 opened #86 "change Remarks in Loading Advice"
to change Remarks as previous LA version as following, meanwhile pls zoom out the image and show the full name of logo, it's better to remove the dark text box.
![image](https://f.cloud.github.com/assets/4178426/1937606/aa226602-7f2a-11e3-85c0-0e12d1869351.png)

[2014-01-17 05:53] edward123 commented on #86
And Mamta, remember to enlarge Remark column so that we can key in enough words

[2014-01-17 08:16] edward123 commented on #42
emphasize point 3 - take attached image for example, 1500mm shall not take as much as 49 pcs, actually cube shall optimize the cutting logic, since it will generate 35 pcs of 1580 IBL(18+16+1), 1500mm shall take 14 pcs (49-35)instead.
![image](https://f.cloud.github.com/assets/4178426/1938568/0858135c-7f4e-11e3-926d-dbb7914355dc.png)
![image](https://f.cloud.github.com/assets/4178426/1938604/b5a0d

[2014-03-07 09:29] edward123 commented on #86
Mamta, how is the status of this issue? I think you have resolved it, right?

[2014-03-07 09:30] edward123 commented on #85
Hemant, have you resolved this issue?

[2014-03-07 09:37] edward123 opened #87 "coupler issue"
1. shape editing issue due date by 8th Mar
2. parameter change - not need to forging
3. what's follow warning
   ![image](https://f.cloud.github.com/assets/4178426/2355490/7bc8105e-a5db-11e3-8af2-3e0767ba6dd5.png)

[2014-03-08 10:10] aprajita123 commented on #86
Done in Release 5.5.4

[2014-03-12 09:03] edward123 commented on #87
closed in R5.5.4.

[2014-03-12 09:03] #87 closed, assigned to nobody

[2014-03-12 09:09] edward123 commented on #86
1. logic has been changed, but pls enlarge this whole part so that remark column could have enough space.
2. pls zoom out the logo.

[2014-03-12 09:28] edward123 opened #88 "future coupler issue"
1. add Coupler category in Shape Master
2. is it possible to add Coupler Product Type to distinguish with CAB/MESH, but shall enable Coupler to be optimized with CAB, and Order ID prefix could be defined as CP like CAB is CA. Future Precaging shall have the same scenario.
   ![image](https://f.cloud.github.com/assets/4178426/2395368/4e09397c-a9c8-11e3-9432-5540ca789060.png)
3. add coupler info in

[2014-03-14 09:02] edward123 opened #89 "tag generation by Elements"
pls look into this

[2014-05-01 07:51] edward123 commented on #88
1. done
2. Order type done; but need to optimize with CAB and process through shearline
3. yet to develop
4. only see coupler m/c detail when creating new plan in UAT database
5. no loading list, no production recording for coupler order

[2014-05-01 07:53] edward123 opened #90 "Add Bar List per M/C for SNC m/c for MESH production"
currently, only welding m/c has bar list per m/c report. Pls add for SNC as well.

[2014-05-01 08:17] edward123 commented on #86
1. done
2. pls try to zoom out the logo
3. For MESH LA, pls change the format from landscape to portrait, and MESH LA shall have the same   space for remark column.

[2014-05-09 09:01] edward123 opened #91 "Production Recording by Scanning Tag"
As per previous discussion, we need doing production recording by scanning tag. Pls restart that project.

[2014-05-13 06:38] edward123 commented on #88
1. shearline process for coupler
2. bar list per m/c for coupler, number of thread and coupler
3. will add it in future
4. done

[2014-05-27 07:31] edward123 commented on #88
1. shearline process done for coupler
2. bar list still pending
3. m/c details added
4. need to add coupler m/c assignment due by 6 July
   ![image](https://cloud.githubusercontent.com/assets/4178426/3088499/ece4c26c-e570-11e3-8a38-688196af4679.png)

[2014-05-27 08:06] edward123 commented on #91
Step 1- Tag Scan..Once scanned all detail of that tag will be loaded, operator can verify..

Step 2 - There will be one dropdown (not yet implemented) for selecting start end of Tag. By Default 1st Scan will be start And next will be end. But if operator scan tag  but actual process is delayed then he can again scan tag and select Start option from drop down.This will update actual start time. If

[2014-05-27 08:29] edward123 commented on #86
Mamta, how about this issue?

[2014-05-27 08:29] edward123 commented on #85
Hemant, pls update this issue.

[2014-06-13 08:15] edward123 commented on #88
1. bar list duplicate in UAT
   ![image](https://cloud.githubusercontent.com/assets/4178426/3267798/9d56c4b0-f2d2-11e3-8f7f-a45bce17b965.png)
2. no. of threading/no. of coupler still yet to be implemented
3. unable to generate ous file

Pls provide a timeline

[2014-07-07 07:31] #85 closed, assigned to hemantbansal

[2014-07-07 08:30] edward123 commented on #86
UOM issue in R5.5.7.1 Prod database.
![image](https://cloud.githubusercontent.com/assets/4178426/3492502/351a9c46-05ab-11e4-9999-22b6d7433b5d.png)

[2014-07-07 08:32] edward123 commented on #90
as per discussion in Skype:
a. weight UOM problem
b. last page was always blank page

[2014-08-04 07:30] edward123 commented on #88
when producing coupler, need to count no. of threading.

[2014-09-01 03:34] edward123 commented on #90
weight problem still existed. Actually, this order is just 1357kg.
![image](https://cloud.githubusercontent.com/assets/4178426/4104354/9066236e-3188-11e4-87a7-e74abc06e0e1.png)

[2014-09-01 07:46] #86 closed, assigned to Mamta123

[2014-09-01 07:56] #81 closed, assigned to nobody

[2014-09-01 09:07] edward123 opened #92 "Date Wise Planned Report"
Hemant, still got problem from latest release in cube pc, incorrect and duplicate data.
![image](https://cloud.githubusercontent.com/assets/4178426/4106229/5bc804e0-31b7-11e4-98d8-6904b484dc25.png)

[2014-09-01 09:08] edward123 opened #93 "MESH BOM implementing in cube"

[2014-09-20 06:29] edward123 commented on #90
weight problem resolved.

[2014-09-20 06:37] edward123 commented on #90
Meters Problem in SNC bar list per m/c

[2014-09-23 11:18] #90 closed, assigned to nobody

[2014-09-23 11:27] edward123 commented on #88
closed in R5.6.1

[2014-09-23 11:27] #88 closed, assigned to nobody

[2014-09-23 11:40] edward123 commented on #92
closed in R5.6.0

[2014-09-23 11:40] #92 closed, assigned to nobody

[2014-09-23 11:57] edward123 commented on #89
why we raised this issue is just to avoid messed sequence tags for variable length. Pls look into either printing tag by Element or sorting out tag by BarMark ID.
![image](https://cloud.githubusercontent.com/assets/4178426/4371454/bbac7cd0-4317-11e4-8425-532eeb6db974.png)
![image](https://cloud.githubusercontent.com/assets/4178426/4371459/c9578104-4317-11e4-86f5-e1ca3daaf428.png)

Take Plan ID PL-

[2014-09-23 12:04] edward123 opened #94 "Monthly Report for MESH"
Pls refer to monthly report for CAB. Since we have more and more MESH orders, pls expedite the development of MESH monthly report.

![image](https://cloud.githubusercontent.com/assets/4178426/4371584/997b1b10-4319-11e4-8607-4f2cc115584d.png)

[2014-09-23 12:08] edward123 opened #95 "Upload Excel file into cube to update stock automatically"
pls look into this so that manual update can be replaced by auto uploading.
![image](https://cloud.githubusercontent.com/assets/4178426/4371633/37fd65fe-431a-11e4-99f3-53810c2a30bf.png)

[2014-12-11 04:50] zhangkai1 opened #96 "S&C tag ,diameter 6.5 cannot show correctly"
![cube issue 01](https://cloud.githubusercontent.com/assets/10140554/5389240/205901bc-8134-11e4-86f4-020226d9b7ee.jpg)

[2014-12-11 05:05] zhangkai1 opened #97 "can not do Uploading for all mesh orders and some of CAB orders."
![cube issue 04](https://cloud.githubusercontent.com/assets/10140554/5389380/5494eaf2-8136-11e4-99dc-2d72c6296138.jpg)

[2014-12-12 03:50] #96 closed, assigned to nobody

[2015-01-07 06:51] zhangkai1 opened #98 "data&tag sorting issue"
we want the data in CAB loading advice and the CAB tag ID sort by Element name . becaues customers complain many times about our loading . if they can sort by element name , the loading will be much easier than before. i have logged an issue in GITHUB.so please help us as soon as possible .